<? // function render_taken($model, $iters, $easiers, $highlight = true) { ?>
<table class="default">
	<tr class="header">
		<td><?= __('Nr') ?></td>
		<td><?= __('Taak') ?></td>
		<td><?= __('Prio') ?></td>
		<td><?= __('Toegewezen') ?></td>
	</tr>

<? $i = 0;
$member_data = logged_in();
$prioriteiten = $model->get_prioriteiten();

foreach ($iter as $item) { 
	if ($item->get('toegewezen'))
		$toegewezen = $easiers[$item->get('toegewezen')];
	else
		$toegewezen = '<span class="italic">' . __('niemand') . '</span>';

	if ($highlight && $item->get('toegewezen') && $item->get('toegewezen') == $member_data['id']) {?>
		<tr class="highlight">
	<? } else {?>
		<tr class="r<?= $i ?>">
	<? } ?>
	<td><?= $item->get_id() ?></td>
		<td class="prioriteit_<?= $item->get('prioriteit') ?>"><a href="taken.php?taak=<?= $item->get_id() ?>"><?= $item->get('taak') ?></a></td>
		<td><span  class="prioriteit_<?= $item->get('prioriteit') ?>"><?= $prioriteiten[$item->get('prioriteit')]  ?></span></td>
		<td><?= $toegewezen ?></td>
	</tr>

<? 	$i = !$i;
} ?>

</table>