<? $easiers = $this->taken_get_easiers();
$prioriteiten = $model->get_prioriteiten(); ?>
<div class="bar_sep">
	<div class="right">
		<a href="javascript:beheer();"><?= image('add.png', _('toevoegen'), _('Nieuwe taak toevoegen')) ?></a>
	</div>
	<?= _('Taken') ?></div>
<div id="beheer" class="beheer">
<form method="post" action="taken.php"><?= input_hidden('submtaken_add', 'yes') ?>
	<table>
		<tr>
			<td><?= label(_('Taak'), 'taak', $errors, true) ?>:</td>
			<td><?= input_text('taak', null) ?></td>
		</tr>
		<tr>
			<td><?= label(_('Toegewezen'), 'toegewezen', $errors, true) ?>:</td>
			<td><?= select_field('toegewezen', $easiers, null) ?></td>
		</tr>
		<tr>
			<td><?= label(_('Prioriteit'), 'prioriteit', $errors, true) ?>:</td>
			<td><?= select_field('prioriteit', $prioriteiten, array('prioriteit' => 2)) ?></td>
		</tr>
		<tr>
			<td><?= label(_('Notificatie'), 'subscribed', $errors, true) ?>:</td>
			<td><?= input_checkbox('subscribed', null) ?></td>
		</tr>
		<tr>
			<td colspan="2"><?= textarea_field('beschrijving', null, $errors) ?></td>
		</tr>
		<tr class="submit">
			<td class="submit" colspan="2"><?= input_submit('subm', _('Taak toevoegen')) ?></td>
		</tr>
	</table>
</form>
</div>
<h2><?= _('Open') ?></h2>
<div class="messageBox">

<? $this->render_partial('taken', compact('model', 'iter', 'easiers')); ?>
<h2><?= _('Gesloten') ?></h2>
<? $iter = $model->get_done(14);// Get tasks closed within 14 days ?>

<? $this->render_partial('taken', compact('model', 'iter', 'easiers')); ?>
</div>
<script type="text/javascript">
	function beheer() {
		div = document.getElementById("beheer");

		if (div.style.display == "none" || div.style.display == "") {
			div.style.display = "block";
		} else {
			div.style.display = "none";
		}
	}

<? if (isset($expand)) {?>
	beheer();
<? } ?>

</script>