{% extends '@layout/layout.twig' %}

{% block content %}
<h1>{{ __('Lidmaatschapsformulier') }}</h1>
<div class="messageBox">
	<p>{{ __('Je lidmaatschapsaanvraag is verstuurd. Als het goed is heb je inmiddels een mailtje met een bevestigingscode.') }}</p>
</div>
{% endblock %}