<div class="bestuur-page">
	<?= $this->parse_bestuursfoto($bestuur, $page) ?>
</div>

<div class="messageBox besturen-lijst">
<?php foreach ($iter as $a_bestuur): ?>
	<div class="bestuur <? if ($a_bestuur->get('id') == $bestuur->get('id')) echo 'active' ?>">
		<h3><a href="besturen.php?id=<?= $a_bestuur->get('id') ?>"><?= $a_bestuur->get('naam') ?></a></h3>
		<p class="description"><?=$this->get_summary($a_bestuur->get('page'))?></p>
	</div>
<?php endforeach ?>
<?php if (member_in_commissie(COMMISSIE_BESTUUR)): ?>
	<div class="bestuur">
		<a href="besturen.php?add_bestuur" class="add-new-bestuur"><?=__('Nieuw bestuur toevoegen...')?></a>
	</div>
<?php endif ?>
	<div class="clearBoth"></div>
</div>
