body {
	margin-top: 32px !important;
}

.mailing-sidebar input[type=text],
.mailing-sidebar textarea,
.mailing-main input[type=text],
.mailing-main textarea {
	width: 100%;
}

.mailing-sidebar input[name=title],
.mailing-main input[name=title] {
	font-size: 1.5em;
}

.mailing-sidebar textarea,
.mailing-main textarea {
	min-height: 4em;
}

.mailing-sidebar textarea[name=data] {
	min-height: 16em;
}

.mailing-main textarea[name=data] {
	min-height: 32em;
}

.mailing-edit-nav {
	list-style: none;
	margin: 0;
	padding: 0 .5em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #eee;
	height: 32px;
	box-shadow: 0 0 20px #333;
}

.mailing-edit-nav li {
	display: inline;
	line-height: 32px;
}

.mailing-edit-nav li a {
	display: inline-block;
	padding: 0 .5em;
	color: #333;
}

.mailing-edit-nav li a:hover {
	background: #ccc;
}

.ui-dialog {
	border: none;
	border-radius: 0;
	box-shadow: 0 0 60px #333;
}

.ui-dialog .ui-widget-header {
	border-radius: 0;
	border: 0;
	background: transparent; 
}

.ui-dialog-content label,
.ui-dialog-content input {
	display: block;
}

.ui-dialog-content .timestamp {
	margin-left: 0.5em;
	font-size: 0.8em;
}

.message-unreadable a {
	cursor: not-allowed;
}