{% extends '@layout/layout.twig' %}

{% block title __('Weblog') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Weblog') }}</h1>
<div class="messageBox">
	{% if iters|length == 0 %}
		<p>{{ __('Er zijn op dit moment geen weblogs') }}</p>
	{% else %}
		{% for blog_post in iters %}
			{{ include('_blog_post.twig', {iter:blog_post}) }}
		{% endfor %}
	 {% endif %}
</div>
{% endblock %}