$footer-main-background-color: $grey-lightest !default

.footer-main
    background: $footer-main-background-color
    text-align: center
    color: $grey-dark

    a
        color: inherit

        &:active,
        &:focus,
        &:hover
            text-decoration: underline

        &:active
            color: $link-active

        &:focus
            color: $link-focus

        &:hover
            color: $link-hover


+tablet
    .footer-main ul li,
    .footer-main ul li.divider // override default devider margin
        display: inline-block
        margin: 0 $column-gap

.image
    img.darkmode
        display: none

.sortable-chosen,
.sortable-chosen .sortable-handle
    cursor: grabbing

.sortable-handle
    cursor: grab
