$footer-main-background-color: $grey-lightest !default

.footer-main
    background: $footer-main-background-color
    text-align: center
    color: $grey-dark

    a
        color: inherit

        &:active,
        &:focus,
        &:hover
            text-decoration: underline

        &:active
            color: $link-active

        &:focus
            color: $link-focus

        &:hover
            color: $link-hover


+tablet
    .footer-main ul li,
    .footer-main ul li.divider // override default devider margin
        display: inline-block
        margin: 0 $column-gap

.image
    img.darkmode
        display: none

.sortable-chosen,
.sortable-chosen .sortable-handle
    cursor: grabbing

.sortable-handle
    cursor: grab


// TODO: implement in cover style system
button.card-header-icon
    background-color: inherit
    border: none
    font-size: inherit
    color: $grey
    &:hover
        color: $link-hover!important

// TODO: implement in cover style system
.button.is-baseline
    vertical-align: baseline

ul.controls li
    display: inline-block
    &:not(:last-child)
        margin-right: 0.75rem

.table
    td, th
        &.is-truncated
            max-width: 30ch
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        &.is-sticky
            position: sticky
            left: 0
            background: rgba($body-background-color, 0.95)
            background-clip: padding-box
            box-shadow: 0.25em 0 .5em -0.0625em rgba($scheme-invert, .1)

            &.is-right
                box-shadow: -0.25em 0 .5em -0.0625em rgba($scheme-invert, .1)
                right: 0
                left: auto
