.columns-vertical
    // General settings
    columns: 1
    margin-left: (-$column-gap)
    margin-right: (-$column-gap)
    margin-top: (-$column-gap)

    &:last-child
        margin-bottom: (-$column-gap)

    &:not(:last-child)
        margin-bottom: calc(1.5rem - #{$column-gap})

    // Modifiers
    &.is-gapless
        margin-left: 0
        margin-right: 0
        margin-top: 0

        & > .column
            margin: 0
            padding: 0 !important

        &:not(:last-child)
            margin-bottom: 1.5rem

        &:last-child
            margin-bottom: 0

    &.is-fill-balance
        column-fill: balance

    &.is-fill-auto
        column-fill: auto

    // Numbers of columns for all viewports
    &.is-mobile
        @for $i from 1 through 12
            &.has-#{$i}
                columns: $i
    
    +mobile
        @for $i from 1 through 12
            &.has-#{$i}-mobile
                columns: $i

    +tablet
        @for $i from 1 through 12
            &.has-#{$i},
            &.has-#{$i}-tablet
                columns: $i
    
    +touch
        @for $i from 1 through 12
            &.has-#{$i}-touch
                columns: $i

    +desktop
        @for $i from 1 through 12
            &.has-#{$i}-desktop
                columns: $i

    +widescreen
        @for $i from 1 through 12
            &.has-#{$i}-widescreen
                columns: $i

    +fullhd
        @for $i from 1 through 12
            &.has-#{$i}-fullhd
                columns: $i

=tmp-switch-size($size)
    $switch-height: $size * 1.5
    $switch-width: $switch-height * 2
    $paddle-width: $switch-height - ($switch-paddle-offset * 2)
    $paddle-active-offset: $switch-width - $paddle-width - ($switch-paddle-offset * 1.5)

    &.is-full-width + label
        display: inline-block
        width: 100%

    &.is-rtl + label::after
            right: $paddle-active-offset


    &:checked.is-rtl + label::after
        right: $switch-paddle-offset

.switch[type="checkbox"]
    +tmp-switch-size($size-normal)
    &.is-small
        +tmp-switch-size($size-small)
    &.is-medium
        +tmp-switch-size($size-medium)
    &.is-large
        +tmp-switch-size($size-large)

.fieldset
    @extend .box
    
    legend
        font-weight: $label-weight
        float: left
        width: 100%
        margin-bottom: 0.75rem // same as field

    legend + *
        clear: both
