<? 
$links = $model->get_links($category->get_id());

if (!$links || count($links) == 0) { ?>
	<p><?= __('Er zijn geen links beschikbaar') ?></p>
<? 	return;
} 

$admin = member_in_commissie(COMMISSIE_BESTUUR);

if ($admin) { ?>
	<form action="links.php" method="post">
		<?= input_hidden('submlinks_del', 'yes') ?>
<? } ?>

<? foreach ($links as $iter) { ?>
	<div>

	<? if ($admin) {?>
		<?= input_checkbox('del_' . $iter->get_id(), null, 'yes', 'id', 'del_' . $iter->get_id()) ?>
	<? } ?>
	
	<a href="<?= normalize_url($iter->get('url')) ?>"><?= $iter->get('titel') ?></a>
	
	<? if ($iter->get('beschrijving')) {?>
		<p><?= markup_parse($iter->get('beschrijving')) ?></p>
	<? } ?>
	</div>
<? } ?>

<? if ($admin) { ?>
	<div class="text_right"><br><?= input_submit('subm', __('Geselecteerde links verwijderen')) ?></div>
	</form>
<? } ?>
