{% extends '@theme/homepage/_card.twig' %}

{% block title __('Poll') %}

{% block name 'poll' %}

{% block content %}

{% set poll = global.models.Poll.get_latest_poll() %}

{% if poll %}
	{% include '@theme/forum/_poll.twig' %}
{% else %}
	<p>{{ __('There is no poll at the moment') }}</p>
{% endif %}

{% endblock %}