/documenten/
*~
/incasso
/phpmyadmin
/phppgadmin
/webmail
/config/config.inc
/config/DBIds.php
/vendor
/logs
/test
/tmp
node_modules
public/assets/dist
.env
/.history
*/.history
/.vscode
*/.vscode
npm-debug.log
