/documenten/
*~
/incasso
/phpmyadmin
/phppgadmin
/webmail
/include/config.inc
/include/data/DBIds.php
/vendor
/logs
/test
/tmp
node_modules
themes/default/assets/dist
.env
/.history
*/.history
/.vscode
*/.vscode
npm-debug.log
