{% extends '@layout/layout.twig' %}

{% block title __('E-mailadres veranderd') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('E-mailadres veranderd') }}</h1>
<div class="messageBox">
	<p>{{ __('Je e-mailadres is nu veranderd naar %s.')|format(member.email) }}</p>
</div>
{% endblock %}