{% extends '@layout/layout.twig' %}

{% block title __('Bevestiging') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Bevestiging') ~ ' - ' ~ __('Fout') }}</h1>
<div class="messageBox">
	<p>{{ __('Je hebt een ongeldige link gevolgd. Er staat geen actie in de wachtrij met de opgegeven sleutel. Probeer het opnieuw of neem contact op met %s als het probleem zich blijft voordoen.')|e|format('<a href="mailto:webcie@ai.rug.nl">' ~ __('de WebCie') ~ '</a>')|raw }}</p>
</div>
{% endblock %}