{% extends '@layout/layout.twig' %}

{% block title __('Wachtwoord gereset') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{  __('Wachtwoord gereset') }}</h1>
<div class="messageBox">
	<p>{{ __('Je wachtwoord is gereset. Er is een mailtje naar %s gestuurd met je nieuwe inlog-gegevens.')|format(member.email) }}</p>
</div>
{% endblock %}