<div class="field-type-bank-account vertical-form">
	<h3 class="field-type">{{ __('Bank account number') }}</h3>
	<fieldset>
		<legend>Required</legend>
		<div>
			{{ html_input_checkbox('required', data, errors=errors) }}
			{{ html_label('Filling in the IBAN code is mandatory', 'required', errors=errors) }}
		</div>
	</fieldset>
</div>