<div class="field">
	<div class="control">
		{{ html_input_checkbox('required', data, errors=errors, id='field-' ~ name ~ '-required', label=__('Filling in the IBAN is mandatory')) }}
	</div>
</div>
<div class="field">
	<div class="control">
		{{ html_input_checkbox('autofill', data, errors=errors, id='field-' ~ name ~ '-autofill', label=__('Autofill this field with member data.')) }}
	</div>
	<p class="help">{{ __('Disable if people are not supposed to fill in their own information.') }}</p>
</div>
