<div class="field">
	{{ html_label('Text next to the checkbox', 'description', errors=errors, id='field-' ~ name ~ '-description') }}
	<div class="control">
		{{ html_input_text('description', data, errors=errors, for='field-' ~ name ~ '-description') }}
	</div>
</div>
<div class="field">
	<div class="control">
		{{ html_input_checkbox('required', data, errors=errors, id='field-' ~ name ~ '-required', label=__('Checking this checkbox is mandatory')) }}
	</div>
</div>
