<header class="card-header">
	<h3 class="card-header-title">{{ __('Checkbox') }}</h3>
	{# Ugh. Want this in form_form.twig #}
	<div class="card-header-icon sortable-drag-handle" title="Drag me to reorder"></div>
</header>
<div class="card-content">
	<div class="field">
		{{ html_label('Text next to the checkbox', 'description', errors=errors, id='field-' ~ name ~ '-description') }}
		<div class="control">
			{{ html_input_text('description', data, errors=errors, for='field-' ~ name ~ '-description') }}
		</div>
	</div>
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('required', data, errors=errors, id='field-' ~ name ~ '-required', label=__('Checking this checkbox is mandatory')) }}
		</div>
	</div>
</div>