<header class="card-header">
	<h3 class="card-header-title">{{ __('Full name') }}</h3>
	{# Ugh. Want this in form_form.twig #}
	<div class="card-header-icon sortable-drag-handle" title="Drag me to reorder"></div>
</header>
<div class="card-content">
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('required', data, errors=errors, id='field-' ~ name ~ '-required', label=__('Filling in the name field is mandatory')) }}
		</div>
	</div>
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('autofill', data, errors=errors, id='field-' ~ name ~ '-autofill', label=__('Autofill this field with member data.')) }}
		</div>
		<p class="help">{{ __('Disable if people are not supposed to fill in their own information.') }}</p>
	</div>
</div>