<div class="field-type-name vertical-form">
	<fieldset>
		<legend>Required</legend>
		<div>
			{{ html_input_checkbox('required', data, errors=errors) }}
			{{ html_label('Filling in the name is mandatory', 'required', errors=errors) }}
		</div>
	</fieldset>
</div>