$committee-padding: 1.25rem
$committee-gradient: linear-gradient(to bottom right, rgba($purple, .4), rgba($cover-blue, .4))
$name-padding: .2em $committee-padding
$name-line-height: $title-line-height + .4
$name-size: $size-5
$overlay-transition-timing: 150ms ease-in-out

a.committee
    display: block
    position: relative
    padding: 0
    padding-top: 66.6666% // is-3by2
    background: $committee-gradient, $black
    color: $white

    & > .image,
    .member-images
        @extend .is-3by2
        +overlay
        overflow: hidden
        
        &::before
            +overlay
            display: block
            content: ''
            background: rgba($black, 0)
            transition: background $overlay-transition-timing
            z-index: 1

        img
            min-height: 100%
            object-fit: cover

    .member-images
        &::after
            +overlay
            display: block
            content: ''
            background: $committee-gradient

        .image
            filter: saturate(20%)


    .name
        +boxed-title($name-size, $name-line-height, $name-padding)

    .summary
        color: $white
        padding: $committee-padding
        font-size: $size-7

    .overlay
        +overlay
        overflow: hidden
        padding: $committee-padding 0
        top: calc(100% - #{$name-size * $name-line-height + 2 * $committee-padding})
        transition: top $overlay-transition-timing
        z-index: 5
    
    .vacancy-badge
        position: absolute
        top: -.5rem
        right: -.5rem
        padding: .25ch $committee-padding
        background: $black
        color: $white
        border: $control-border-width solid $white
        font-weight: $weight-semibold
        transform: rotate(3deg)
        box-shadow: $box-shadow
        z-index: 6

    &:hover,
    &:focus        
        & > .image,
        .member-images
            &::before
                background: rgba($black, .8)

        .overlay
            top: 0
            bottom: 0

    &:focus
        outline: $control-border-width solid $cover-red
