@charset "utf-8"


.container-fancy 
  max-width: 768px
  margin: 0 auto
  background-color: #88d8b0
  height: 100px

.calendar   
  width: 30% 
  height: 450px 
  background-color: rgb(199, 191, 191) 
  margin: 1px 
  display: flex 
  align-items: center 
  justify-content: space-around 
 
.sectionMargin
  margin: auto auto auto 15% 

.test
  padding: 3rem 15rem

.containerMinimised  
  margin:  auto auto auto auto
  position: relative 
  width: 100%  
  height: auto 
  padding: 25px 0px 25px 0px 

.text
  text-align: center
    
   
.containerDescription  
  background-color: #0074D9 
  width: 100px 
  height: 100px 
  display: inline-block 
   

.coverCarousel  
  width: 70% 
  height: 450px 
  margin: 1px 
  display: flex 
  align-items: center 
  justify-content: space-around 
  background-image: url("https://www.svcover.nl/documenten/Announcement_banners/20192020/Gala_banner.jpg") 
  background-size: cover 
  background-repeat: no-repeat 
  background-position: 50% 50% 
 
