$profile-widget-spacing: 1rem // TODO: $media-spacing
// $tabs-border-bottom-width: 2px
.profile-widget
    display: flex
    align-items: center
    .profile-photo
        flex: 0 0 auto
        margin-right: $profile-widget-spacing
        .image,
        &.image
            +mobile
                height: 64px
                width: 64px
            +tablet
                height: 96px
                width: 96px
            +desktop
                height: 128px
                width: 128px
    .profile-info
        flex: 1 1 auto
        text-align: left
        .name
            font-weight: $title-weight
            font-size: $size-4
        .nickname
            font-weight: $subtitle-weight
            font-size: $size-5
            color: $grey
        .webpage
            font-size: $size-6
        +tablet
            .name
                font-size: $size-3
            .nickname
                font-size: $size-4
            .webpage
                font-size: $size-5

.tabs.is-vertical
    height: 100%
    display: block
    overflow: visible
    border-right: $tabs-border-bottom-color $tabs-border-bottom-style $tabs-border-bottom-width
    a
        justify-content: flex-start
        border-bottom: none
        border-right-color: $tabs-border-bottom-color
        border-right-style: $tabs-border-bottom-style
        border-right-width: $tabs-border-bottom-width
        margin-right: -#{$tabs-border-bottom-width}
        margin-bottom: 0
        &:hover
            border-right-color: $tabs-link-hover-border-bottom-color
    li
        &.is-active
            a
                border-right-color: $tabs-link-active-border-bottom-color
    ul
        position: sticky
        top: $navbar-height + $block-spacing
        display: block
        flex-direction: column
        align-items: stretch
        border-bottom: none
