<div class="bar_sep" id="nieuw"><?= _('Nieuw document') ?></div>
<p><?= _('Het is op dit moment niet mogelijk om nieuwe documenten toe te voegen.') ?></p>

<? /*
		* Deze pagina is nog niet omgezet, aangezien het uploaden op dit moment niet werkt. -- PdB
		*
  	<p>' . sprintf(_('Voor het onderhouden van deze pagina hebben we jouw hulp nodig. Heb je nog een samenvatting, een tentamen, aantekeningen of andere documenten van een vak die handig kunnen zijn voor andere studenten, digitaliseer die dan indien nodig en verstuur ze met het formulier hieronder. Met dit formulier kan je ook zien wat voor documenten er per vak toegestaan zijn. Je kan natuurlijk ook altijd mailen naar %s.'), '<a href="mailto:bestuur@svcover.nl">Cover</a>') . '</p>';

  	if (isset($errors) && count($errors))
  		echo '<div class="error_message">' . _('Niet alle velden zijn goed ingevuld') . '</div>';

  	echo '<form enctype="multipart/form-data" action="http://www.ai.rug.nl/cgi-bin/cgiwrap/easy/soupload.pl" method="post">' . input_hidden('MAX_FILE_SIZE', '5000000') . input_hidden('type', 'so') . '
  		<table class="bordered">
  		<tr><td class="top">' . label(_('Vak'), 'vak', $errors, true) . ':</td><td>';

$jaren = array( 1 => _('1e jaar'),
		2 => _('2e jaar'),
		3 => _('3e jaar'),
		4 => _('4e jaar'),
		5 => _('5e jaar'),
		0 => _('Overige'));

echo select_field('jaar', $jaren, array('jaar' => 1), 'size', '6', 'class', 'document', 'onChange', 'javascript:year_changed();', 'id', 'document_jaren');
echo '&nbsp; &nbsp; ';
echo select_field('vak', array(), null, 'size', '6', 'class', 'document', 'id', 'document_vakken', 'onChange', 'javascript:vak_changed();');
echo '</td></tr>
<tr><td>' . _('Aantekeningen') . ':</td><td id="aantekeningen"></td></tr>
<tr><td>' . _('Tentamens') . ':</td><td id="tentamens"></td></tr>
<tr><td>' . _('Bijzonderheden') . ':</td><td id="bijzonder"></td></tr>
<tr><td>' . label(_('Titel'), 'titel', $errors, true) . ':</td>
	<td>' . input_text('titel', null) . '</td></tr>
    	<tr><td>' . label(_('Bestand'), 'bestand', $errors, true) . ':</td>
    		<td><input type="file" name="bestand"></td></tr>
    	<tr class="submit"><td class="submit" colspan="2">' . input_submit('subm', _('Document toevoegen')) . '</td></tr>
    	</table>

    	<script type="text/javascript">';

    	echo 'var vakken = new Array(' . count($jaren) . ");\n";

    	foreach ($jaren as $jaar => $naam) {
    		$iters = $model->get_for_year($jaar);

    		echo 'vakken[' . $jaar . '] = new Array(' . count($iters) . ");\n";

    		for ($i = 0; $i < count($iters); $i++) {
    			$iter = $iters[$i];

    			echo 'vakken[' . $jaar .'][' . $i . '] = new Array("' . $iter->get('id') . '", "' . $iter->get('naam') . '", "' . $iter->get('aantekeningen') . '", "' . $iter->get('tentamens') . '", "' . $iter->get('bijzonderheden') . "\");\n";
    		}        		
    	}

    	echo '
    		function year_changed() {
    			var sel = document.getElementById("document_jaren");
    			var vak = vakken[parseInt(sel.value)];

    			var vaksel = document.getElementById("document_vakken");

					vaksel.length = 0;
    			for (i = 0; i < vak.length; i++) {
						vaksel.options[i] = new Option(vak[i][1],vak[i][0]);
    			}							

    			if (vak.length > 0)
    				vaksel.value = vak[0][0];

   				vak_changed();
    		}

    		function vak_changed() {
    			var sel = document.getElementById("document_jaren");
    			var vaksel = document.getElementById("document_vakken");
    			var aantekeningen = "";
    			var tentamens = "";
    			var bijzonder = "";

    			if (vaksel.value != null) {
    				var vak = vakken[parseInt(sel.value)][vaksel.selectedIndex];

    				aantekeningen = (vak[2] ? "' . _('Toegestaan') . '" : "' . _('Niet toegestaan') . '");
    				tentamens = (vak[3] ? "' . _('Toegestaan') . '" : "' . _('Niet toegestaan') . '");
    				bijzonder = (vak[4] ? vak[4] : "' . _('Geen') . '");
    			}

    			document.getElementById("aantekeningen").innerHTML = aantekeningen;
    			document.getElementById("tentamens").innerHTML = tentamens;
    			document.getElementById("bijzonder").innerHTML = bijzonder;
    		}

    		year_changed();
    	</script>
    	';*/
 ?>