<h1><?= $vak->get('naam') ?></h1>

<p><a href="studieondersteuning.php"><?= image('previous.png', __('Terug'), __('Ga terug naar de Studieondersteuningspagina'), 'class="top"') ?></a> <a href="studieondersteuning.php"><?= __('Terug') ?></a></p>

<? if (count($iter) == 0) { ?>
	<p><?= __('Er zijn geen documenten beschikbaar voor dit vak.') ?></p>
	<? return ?>;
<? } ?>

<? $admin = member_in_commissie(COMMISSIE_BESTUUR); ?>

<? if ($admin) {?>
	<form action="studieondersteuning.php?vak=<?= $vak->get_id() ?>" method="post"><?= input_hidden('submso_del', 'yes') ?>
<? } ?>

<table class="default">
<tr class="header">

<? if ($admin) {?>	
	<td width="20px" class="text_center"><?= image('delete_small.png', __('Verwijder'), __('Selecteer bestanden om te verwijderen')) ?></td>
<? } ?>

	<td><?= __('Bestand') ?></td><td class="text_right" width="50px"><?= __('Type') ?></td>
</tr>

<? foreach ($iter as $item) { ?>
<? 	$parts = pathinfo($item->get('bestand'));
	$type = $parts['extension']; ?>

	<tr>

	<? if ($admin) {?>
		<td class="text_center"><?= input_checkbox('del_' . $item->get_id(), null, 'yes', 'id', 'del_' . $item->get_id()) ?></td>
	<? } ?>
	
		<td><a href="studieondersteuning.php?download=<?= $item->get_id() ?>"><?= $item->get('titel') ?></a></td>
		<td class="text_right"><?= strtolower($type) ?></td>
		</tr>
<? } ?>

<? if ($admin) {?>
	<tr class="submit"><td class="text_center"><a href="javascript:delete_all();"><?= image('up.png', __('Alles'), __('Selecteer alle bestanden')) ?></a></td><td class="submit" colspan="2"><?= input_submit('subm', __('Verwijderen')) ?></td></tr>
<? } ?>

</table>

<? if ($admin) {?>
	</form>
	<script type="text/javascript">
		var ids = new Array(0, <?= implode(', ', array_map(create_function('$iter', 'return $iter->get_id();'), $iters)) ?>);
		function delete_all() {
			for (i = 1; i < ids.length; i++) {
				var id = ids[i];

				check = document.getElementById("del_" + id);
				check.checked = true;
			}				
		}
	</script>
<? } ?>