{% extends '@layout/layout.twig' %}

{% block title iter.title ~ ' – ' ~ parent() %}

{% block content %}
	{% if iter.partner %}
		<figure class="image block">
		    {% if iter.partner.logo_dark_url is defined %}
		        <img class="darkmode" src="{{ iter.partner.get_logo_dark(700) }}">
		    {% endif %}
		    <img class="default" src="{{ iter.partner.get_logo(700) }}">
		</figure>
	{% endif %}
    <h1 class="title">
        {{ iter.title }}
    </h1>
    <div class="content">
        {{ iter.description|parse_markup }}
    </div>
{% endblock %}
