<h1>Banner rotator beheer</h1>
<div class="messageBox">
<? if ($iter['banners'] == false): ?>
	<h2>Er zijn geen rotators ingesteld</h2>
<? else: ?>
	<h2>Bewerk een van de volgende rotators:</h2>
	<select id="select-rotator">
		<?php
			foreach($iter['banners'] as $rotator)
				echo '<option data-id="'.$rotator['id'].'">' . $rotator['rotator-name'] . '</option>';
		?>
	</select>
	<?php
		foreach($iter['banners'] as $rotator)
		{
            //var_dump($rotator);
			echo '<table class="bannerList" id="'. $rotator["id"] .'">
                    <tbody>
                        <tr>';
			foreach($rotator['data'] as $banner)
				echo '<td><img src="'. $rotator['location'] . $banner['filename'] .'" /><br /><span>'.$banner['url'].'</span></td>';
			echo '</tr></tbody></table>';
		}
	?>
<? endif; ?>
	<h2>Maak een nieuwe rotator</h2>
	<p>Deze functie is nog niet beschikbaar, sorry!</p>
</div>
<script type="text/javascript">
	$(function()
	{
		$("#select-rotator").change(function()
		{
            $(".messageBox table").hide();
			$("#"+$(this).find(":selected").attr('data-id')).show();
		})
        .trigger('change');
	});
</script>
