<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>{{ view.path(book, photo is defined ? photo : null)|join('')|raw }}</ul>
</nav>


{% if photo is defined and photo.book.id != book.id %}
<div class="level">
    <div class="level-left">
        {# Ugh. This should be done better. #}
        <p>{{ __('This photo originates from') }}: &nbsp;</p>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                {{ view.path(photo.book, photo)|join('')|raw }}
            </ul>
        </nav>	
    </div>
</div>
{% endif %}
