<div class="bar_sep"><?= _('Nieuw lid toevoegen') ?></div>
<div class="messageBox">
<form name="fnieuwlid" action="actieveleden.php?commissie=<?= $iter->get('id') ?>" method="post">
	<table>

		<? $commissie_model = get_model('DataModelCommissie');
		$funcs = $commissie_model->get_functies();
		$functies = array("" => '[' . _('Selecteer functie') . ']');

		foreach ($funcs as $func => $id)
			$functies[ucfirst($func)] = ucfirst($func); ?>

		<?= input_hidden('submactieveledennieuwlid', 'yes'); ?>
		<?= 
			table_row(
				label(_('Lid'), 'lidid', $errors, true) . ':',
				select_field('lidid', array(0 => '[' . _('Zoeken') . ']'), null),
				'<a href="javascript:zoek_leden();">' . image('previous.png', '<<', _('Zoeken naar leden'), 'class="middle"') . '</a>',
				input_text('voornaam', null, 'class', 'small', 'onKeyPress', 'return search_key_down(event)'))
		?>
		<?= table_row(
				label(_('Functie'), 'functie', $errors) . ':',
				input_text('functie', null),
				'<a href="javascript:functie_invullen();">' . image('previous.png', '<<', _('Functie invullen'), 'class="middle"') . '</a>',
				select_field('functiesel', $functies, null, 'onChange', 'javascript:functie_invullen()'))
		?>
		<tr>
			<td colspan="4" class="submit">
				<?= input_submit('subm', _('Lid toevoegen')) ?>
			</td>
		</tr>
	</table>
</form>

<script type="text/javascript">
	var search_member_request = null;
	var idle_timeout = 0;

	function delete_all_names() {
		var sel = document.fnieuwlid.lidid;
	
		for (i = 0; i < sel.options.length; i++)
			sel.options[i] = null;
	}

	function on_search_member_done() {
		var values = this.get_response();
		var sel = document.fnieuwlid.lidid;

		delete_all_names();
	
		if (values == "") {
			sel.options[sel.options.length] = new Option("[<?= _('Geen leden gevonden') ?>]", "0");
		} else {
			values = values.split("\n");
		
			for (i = 0; i < values.length; i++) {
				opt = values[i].split("\t");
			
				sel.options[i] = new Option(opt[1] + " (#" + opt[0] + ")", opt[0]);
			}
		}
	
		search_member_request = null;
	}

	function zoek_leden_idle() {
		var query = document.fnieuwlid.voornaam.value;
		idle_timeout = 0;
	
		if (query.length >= 3)
			zoek_leden();
	}

	function zoek_leden() {
		if (search_member_request != null)
			search_member_request.abort();
	
		var query = document.fnieuwlid.voornaam.value;
	
		if (query == "") {
			alert("<?= _('Je moet wel een naam invullen') ?>");
			return;
		} else if (query.length < 3) {
			alert("<?= _('Geef minstens 3 letters op om naar te zoeken') ?>");
			return;
		}
	
		search_member_request = new Connection();
		search_member_request.on_task_finished = on_search_member_done;
	
		search_member_request.get("actieveleden.php?search_members=" + encodeURIComponent(query));
	}

	function functie_invullen() {
		var sel = document.fnieuwlid.functiesel;
		var inp = document.fnieuwlid.functie;
	
		inp.value = sel.options[sel.selectedIndex].value;
	}

	function search_key_down(event) {
		if (!event)
			event = window.event;
		
		var code;
	
		if (event.keyCode)
			code = event.keyCode;
		else if (event.which)
			code = event.which;
		else
			return true;
	
		if (code == 13) {
			zoek_leden();
			return false;
		} else {
			if (code >= 32 && code <= 126) {
				if (idle_timeout != 0)
					clearTimeout(idle_timeout);

				idle_timeout = setTimeout("zoek_leden_idle()", 1000);
			}

			return true;
		}
	}
</script>
</div>
