{% extends '@layout/layout.twig' %}

{% block content %}
<h1>{{ __('Inloggen') }}</h1>
<div class="messageBox">
	<p>{{ __('Je account is niet langer actief omdat je op het moment niet lid of donateur van Cover bent. Wil je dat wel (weer) worden, of wil je om een andere reden toegang tot de site? Neem dan even contact op met %s (secretary@svcover.nl).')|format(global.models.Commissie.get_lid_for_functie(constant('COMMISSIE_BESTUUR'), 'secretaris')|full_name) }}</p>
</div>
{% endblock %}