{% extends '@layout/layout.twig' %}

{% block title %}
	{{ __('Uitloggen') }} :: {{ parent() }}
{% endblock %}

{% block content %}
<h1>{{ __('Uitloggen') }}</h1>
<div id="logout-form" class="messageBox">
	<p>{{ __('Je bent uitgelogd.') }}</p>
</div>
{% endblock %}
