.almanak-filter {
	text-align: center;
	margin-bottom: 4px;
}

.almanak-filter input[type=search] {
	font-size: 18px;
	width: 500px;
	display: inline-block;
}

.almanak-filter a {
	line-height: 22px;
	font-weight: normal;
}

.almanak ol,
.almanak ul {
	list-style: none;
}

.almanak ol > li {
	display: block;
	border-bottom: 1px solid black;
}

.almanak ul {
	text-align: left;
}

.almanak ul > li {
	margin: 0;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 150px;
	margin: 12px;
}

.almanak .photo {
	display: inline-block;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border: 1px solid #333;
	border-radius: 50%;
}

.almanak .name {
	display: block;
}

.almanak .status {
	font-size: 0.8em;
}

.almanak .status-lid-af {
	opacity: 0.3;
}

.almanak .status-lid-af .name {
	text-decoration: line-through;
}
