textarea[name="reactie"]
{
	width: 100%;
}

table.navigation {
	width: 99%;
}

table.navigation td {
	width: 33%;
}


div.fotoboek_path {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.photo {
	position: relative;
	text-align: center;
}

.slides {
	width: auto;
	background: #ccc;
	padding: 15px 15px;
	margin: 15px -15px;
	border: 1px solid #aaa;
	border-left: 0;
	border-right: 0;
	list-style: none;
}

.slides:after {
	content: '';
	display: block;
	clear: both;
}

.slides .slide {
	display: block;
	float: left;
	width: 20%;
	height: 120px;
	padding: 5px 0;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
}

.slides .slide img {
	max-width: 97%;
	width: auto;
	height: auto;
}

.photo-controls {
	position: relative;
	height: 24px;
	padding: 0 5px;
	text-align: center;
}

.photo-controls a,
.photo-controls a:hover {
	display: inline-block;
	line-height: 24px;
}

.photo-controls form {
	display: inline;
}

.photo-controls .prev-button {
	position: absolute;
	left: 0;
}

.photo-controls .next-button {
	position: absolute;
	right: 0;
}

.photo-controls .like-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #004274;
	border: none;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	font-size: 9px;
	padding: 0;
	background: transparent url(../images/heart.svg) 0 0 / 20px no-repeat;
}

.liked .photo-controls .like-button {
	color: white;
	background-image: url(../images/heart-filled.svg);
}

.photo-page-header:after {
	content: '';
	display: block;
	clear: both;
}

.button.upload-photos-button,
.button.mark-read-button {
	margin-top: -2px;
	float: right;
}

.photos .thumbnail {
	position: relative;
	float: left;
	display: block;
	width: 33%;
	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

.photos .thumbnail.liked a:after {
	content: '';
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: transparent url(../images/heart-filled.svg) 0 0 / 20px no-repeat;
}

.photos .thumbnail a {
	position: relative;
	display: inline-block;
}

.photos .thumbnail img {
	height: auto;
}

.photos .thumbnail .selection-checkbox {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 65px;
	margin: auto;
	z-index: 5;
}

.photos .description {
	display: block;
}

.photos .comments {
	display: block;
}

.grid-gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

.grid-gallery:after {
	content: '';
	display: block;
	clear: both;
}

.photos .grid-image-container {
	float: left;
	margin: 3px;
	overflow: hidden;
	position: relative;
	text-align: left;
}

.photos .grid-image-container a {
	position: static;
	display: inline;
}

.photos .grid-image-container img {
	width: auto;
	height: 100%;
	max-width: none;
	z-index: -1;
}

.photos .grid-image-container .description,
.photos .grid-image-container .comments {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	color: white;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
}

.photos .grid-image-container .description {
	display: none;
}

.photos .grid-image-container .comments {
	text-align: right;
}

.photos .grid-image-container .selection-checkbox {
	top: 10px;
	left: 10px;
	bottom: auto;
	right: auto;
}

.photo-edit-control {
	/*display: none;*/
}
