textarea[name="reactie"]
{
	width: 100%;
}

table.navigation {
	width: 99%;
}

table.navigation td {
	width: 33%;
}

table.navigation td:nth-child(1) {
	text-align: left;
}

table.navigation td:nth-child(2) {
	text-align: center;
}

table.navigation td:nth-child(3) {
	text-align: right;
}

.fotoboek_path {
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
}

.fotoboek_path.original_path {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	border: none;
}

#photo {
	position: relative;
	display: table;
    margin: 0 auto;
}

#photo .full-size-photo {
	max-width: 100%;
	height: auto;
}

#photo .full-size-photo > img {
	max-width: 100%;
	height: auto;
}

#photo .full-size-photo .high-quality {
	position: absolute;
	top: 0;
	left: 0;
}

.modal > .photo-window #photo .full-size-photo.landscape > img {
	width: 90vh;
	height: auto;
}

.modal > .photo-window #photo .full-size-photo.portrait > img {
	height: 90vh;
	width: auto;
}

.slides {
	width: auto;
	background: #ccc;
	padding: 15px 15px;
	margin: 15px -15px;
	border: 1px solid #aaa;
	border-left: 0;
	border-right: 0;
	list-style: none;
}

.slides:after {
	content: '';
	display: block;
	clear: both;
}

.slides .slide {
	display: block;
	float: left;
	width: 20%;
	height: 120px;
	padding: 5px 0;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
}

.slides .slide img {
	max-width: 97%;
	width: auto;
	height: auto;
}

.slides .slide.current {
	background: #aaa;
	margin: -15px 0;
	padding: 20px 0;
}

.photo-controls {
	position: relative;
	height: 24px;
	padding: 0 5px;
	text-align: center;
}

.photo-controls a,
.photo-controls a:hover,
.photo-controls label {
	display: inline-block;
	line-height: 20px;
	font-weight: bold;
	color: #004274;
	cursor: pointer;
	padding: 0 1em;
	margin: 2px;
}

.photo-controls a:hover,
.photo-controls label:hover {
	text-decoration: underline;
}

.photo-controls input[type=checkbox] {
	display: none;
}

.photo-controls input[type=checkbox] + label {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.photo-controls input[type=checkbox]:checked + label {
	background: #004274;
	color: white;
	border-radius: 2px;
}

.photo-controls form {
	display: inline;
}

.like-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #004274;
	border: none;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	font-size: 9px;
	font-weight: normal;
	padding: 0;
	background: transparent url(../images/heart-white.svg) 0 0 / 20px no-repeat;
	color: white;
}

.photo-controls .like-button {
	background-image: url(../images/heart.svg);
	color: #004274;
}

.liked .like-button {
	color: white;
	background-image: url(../images/heart-filled.svg);
}

.photo-page-header {
	margin-bottom: 10px;
}

.photo-page-header:after {
	content: '';
	display: block;
	clear: both;
}

.button.download-photos-button,
.button.upload-photos-button,
.button.mark-read-button {
	margin: -2px 0 0 2px;
	float: right;
}

.photos:after {
	content: '';
	display: block;
	clear: both;
}

.photos .thumbnail {
	position: relative;
	float: left;
	display: block;
	width: 32%;
	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;

	transition: width 100ms;
}

.photos .thumbnail a {
	position: relative;
	display: inline-block;
}

.photos .thumbnail img {
	height: auto;
}

.photos .thumbnail .selection-checkbox {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 65px;
	margin: auto;
	z-index: 5;
}

.photos .description {
	display: block;
}

.photos .comments {
	display: block;
}

.photos .privacy-preference {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	z-index: 15;
	background: green;
}

.photos .privacy-hidden .privacy-preference {
	background: red;
}

.photos .privacy-preference > ul {
	z-index: 20;
}

.flow-gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

.photos .thumbnail {
	float: left;
	margin: 3px;
	overflow: hidden;
	position: relative;
	text-align: left;
}

.photos .thumbnail .selection-checkbox:checked + a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	border: 4px solid #c60c30;
}

.photos .thumbnail a {
	position: static;
	display: inline;
}

.photos .thumbnail img {
	width: auto;
	height: 100%;
	max-width: none;
	z-index: -1;
}

.photos .thumbnail a:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.photos .thumbnail .like-button {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 3;
}

.photos .thumbnail .description,
.photos .thumbnail .comments,
.photos .thumbnail .privacy {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	font-weight: normal;
	opacity: 0.8;
    z-index: 3;
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
}

.photos .thumbnail .description {
	font-weight: bold;
	opacity: 1.0;
}

.photos .thumbnail .privacy {
	font-style: italic;
} 

.photos .thumbnail .privacy + .comments,
.photos .thumbnail .privacy + .description,
.photos .thumbnail .comments + .description {
	bottom: 15px;
} 

.photos .thumbnail .privacy + .comments + .description  {
	bottom: 30px;
} 

.photos .thumbnail .selection-checkbox {
	top: 0;
	left: 0;
	margin: 5px;
	bottom: auto;
	right: auto;
}

.photo-edit-control {
	/*display: none;*/
}

.face {
	position: absolute;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 100ms;
}

.face:hover {
	z-index: 10;
}

.face:hover,
.tagging-enabled .face {
	opacity: 1.0;
}

.tagging-enabled .face {
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.6);
}

.tagging-enabled .face .tag-label .name[href='#']:hover {
	cursor: pointer;
}

#photo.tagging-enabled {
	cursor: crosshair;
}

.face .delete-button {
	width: 20px;
	height: 20px;
	background: transparent;
	border: none;
	color: white;
	font: 12px sans-serif;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
}

.face .delete-button:hover {
	background: rgba(0, 0, 0, 0.8);
}

.face .tag-label,
.face .tag-search {
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: -24px;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0 10px;
	border-radius: 4px;
	font: 13px/20px sans-serif;
	z-index: 1;
	white-space: nowrap;
}

.face .tag-search {
	width: 150px;
	z-index: 2;
}

.face .tag-label .name {
	display: inline-block;
	white-space: nowrap;
	color: white;
	font-weight: normal;
}

.face .tag-label .name[href='#'] {
	text-decoration: none;
	cursor: default;
}

.face.untagged .tag-label .name {
	font-style: italic;
	cursor: pointer;
}

.hidden img {
	opacity: 0.5
}

.photobook .visibility {
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	width: 16px;
	height: 16px;
	text-indent: 20px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}

.visibility-public {
	background-image: url(../images/visibility-public.png);
}

.visibility-members {
	background-image: url(../images/visibility-members.png);
}

.visibility-active-members {
	background-image: url(../images/visibility-active-members.png);
}

.visibility-photocee {
	background-image: url(../images/visibility-photocee.png);
}

#folder-selector {
	width: 100%;
	height: 300px;
	margin-top: 1em;
	background: white;
	border: 1px solid #ccc;
	overflow: auto;
	white-space: nowrap;
}

#folder-selector ol {
	display: inline-block;
	width: 250px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	vertical-align: top;
	border-right: 1px solid #ccc;
	list-style: none;
	margin: 0;
}

#folder-selector li {
	padding: 0 4px;
	line-height: 1.5em;
	display: block;

}

#folder-selector li.selected {
	background: Highlight;
	color: HighlightText;
}

#photo-selector {
	list-style: none;
	margin: 0;
}

#photo-selector li {
	display: block;
	position: relative;

	padding: 0 4px;
	margin: 4px 0;
	height: 60px;
	border-bottom: 1px solid #ccc;
}

#photo-selector li > * {
	position: absolute;
	line-height: 60px;
}

#photo-selector li .thumbnail {
	top: 0;
	left: 0;
	max-height: 56px;
}

#photo-selector li .add-control {
	top: 0;
	left: 100px;
}

#photo-selector li .add-control a {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: white;
	background: green;
	border-radius: 50%;
}

#photo-selector li .description {
	top: 0;
	left: 140px;
	right: 300px;
}

#photo-selector li .description > input {
	width: 100%;
}

#photo-selector li .filename {
	right: 150px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 4px;
}

#photo-selector li .created-on {
	right: 0;
}

.selection-of-photos {
	display: block;
	text-align: center;
	list-style: none;
	margin: 0;
}

.selection-of-photos > li {
	display: inline-block;
	position: relative;
}

.selection-of-photos > li .photo-caption {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-weight: normal;
}

.selection-of-photos > li a:hover .photo-caption {
	text-decoration: underline;
}

.selection-of-photos > li .photo-book-year:before {
	content: '(';
}

.selection-of-photos > li .photo-book-year:after {
	content: ')';
}

.modal > .photo-window {
	max-width: none;
	margin: 20px;
}

