.tab-container {
	display: block;
	position: relative;
	width: 100%;
}

.tab-container:after {
	content: '';
	display: block;
	clear:both;
}

.tab-sidebar {
	width: 200px;
	float: left;
	border-right: 1px solid #ccc;
}

.tab-sidebar .profile-widget {
	width: 100%;
}

ul.nav-tabs {
	list-style: none;
	margin: 0;
}

ul.nav-tabs > li > a {
	display: block;
	padding: 10px 4px;
}

ul.nav-tabs > li.active {
	background: #ddd;
	color: white;
}

ul.nav-tabs.vertical > li:not(:first-child) {
	border-top: 1px solid #ccc;
} 

.tab-content {
	display: block;
	margin-left: 200px;
	padding: 10px;
}

.tab-content section {
	margin-bottom: 10px;
}