{% extends '@layout/layout.twig' %}

{% block title __('Not found') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Not found') }}</h1>
<div class="messageBox">
	<section class="error-section">
		<p>{{ exception.message }}</p>
	</section>
	<p>{{ __('Do you think this is a mistake? Report it to the AC/DCee at acdcee@svcover.nl!') }}</p>
	<p class="align-center"><a href="index.php">{{ __('Back to homepage') }}</a></p>
</div>
{% endblock %}