{% extends '@layout/layout.twig' %}

{% block title __('Not found') ~ ' – ' ~ parent() %}

{% block content %}
<article class="block">
    <h1 class="title">{{ __('Not found') }}</h1>
    <div class="content">
    	<p>{{ exception.message }}</p>
    	<p>{{ __('Do you think this is a mistake? Report it to the AC/DCee at acdcee@svcover.nl!') }}</p>
    	<p><a href="index.php" class="button">{{ __('Back to homepage') }}</a></p>
    </div>
</article>
{% endblock %}