<div class="field">
	{{ html_label(__('E-mail address'), name, errors=errors, required=configuration.required) }}
    <div class="control">
    	{{ html_input_text(name, data, type='email', errors=errors, required=configuration.required, placeholder=__('E.g. chris@gmail.com')) }}
    </div>
</div>