<?
$commissie_model = get_model('DataModelCommissie');
$commissie = $commissie_model->get_iter($iter->get('commissie'));
?>
<!-- color accent for each 'commissie' -->
<h1><?= $iter->get('kop') ?></h1>
<hr class="colorAccent <? echo strtolower($commissie_model -> get_naam($commissie -> get('page')));?>">
<div class="messageBox">
<p><?= _('Datum') ?>: <?= agenda_date_for_display($iter, 'van') ?><br/>
<? if (($time = agenda_time_for_display($iter, 'van'))) { ?>
	<?= _('Tijd') ?>: <?= $time ?><br/>
<? }
if ($iter->get('locatie')) { ?>
	<?= _('Locatie')?>: <?= markup_format_text($iter->get('locatie')) ?><br/>

<? }
?>
</p>
<p><?= markup_parse($iter->get('beschrijving')) ?></p>
<p><span class="smaller"><?= _('Geplaatst door') ?>: <a href="show.php?id=<?= $commissie->get('page') ?>"><?= $commissie->get('naam') ?></a></span></p>
<p><a href="agenda.php"><?= image('agenda.png', _('agenda'), _('Volledige agenda bekijken'), 'class="top"') ?></a> <a href="agenda.php"><?= _('Volledige agenda') ?></a></p>
</div>
