{% extends '@layout/401_unauthorized.twig' %}

{% block error_message %}
<div class="notification is-danger">
	<p>{{ __('Some of our activities are only accessible to members of our study association. If you want to know more about this activity, please sign up. Or if you are a member, well then sorry for the hold up! Please log in!') }}</p>
</div>
{% endblock %}