<h1><?=htmlspecialchars($caption, ENT_COMPAT, 'utf-8')?></h1>
<div style="
	position: absolute;
	top: -50px;
	left: -50px;
	bottom: -50px;
	right: -50px;
	background-image: url(http://maikelzitopdingen.nl/<?=$this->encode_url($src)?>);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(40px);"></div>
<div style="
	position: absolute;
	top: 100px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	background-image: url(http://maikelzitopdingen.nl/<?=$this->encode_url($src)?>);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;"></div>
