$cover-gradient: linear-gradient(to bottom right, rgba(168, 73, 148, 0.4), rgba(54, 116, 157, 0.4)), #0a0a0a
$event-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02) !default
$event-padding: 0 0 1rem 1rem

$event-date-bg-color: transparent !default
$event-color-text: #ffffff

$event-details-bg-color: #ffffff

.event
    background: $cover-gradient
    box-shadow: $event-shadow
    max-width: 100%
    position: relative
    padding: $event-padding
    margin: 1.5rem

.event-date
    background-color: $event-date-bg-color
    color: $event-color-text
    font-size: large
    
.event-details
    background-color: $event-details-bg-color
    width: 100%
    padding: 0

.event-title

.is-half
  height: 20rem
  overflow: hidden
  margin-bottom: 1rem
  &:hover
    height: max-content


