<div class="promotional-banner committee-battle-banner" data-photos="{{ view.layout.committee_battle_photos|json_encode()|e('html_attr') }}">
	<h1>{{ __('Committee Battle') }}</h1>
	<p>{{ __('Battle your way to the top!') }}</p>
	<a href="committeebattle.php" class="button">{{ __('Take part!') }}</a>
</div>