<div class="promotional-banner sign-up-banner">
	<div class="background background-0 current"></div>
	<div class="background background-1"></div>
	<div class="background background-3"></div>
	<div class="background background-4"></div>
	<div class="background background-5"></div>

	<h1>{{ __('Become a member') }}</h1>
	<p>{{ __('For books, career and fun.') }}</p>
	<a href="lidworden.php?utm_source=svcover.nl&amp;utm_medium=banner&amp;utm_campaign=member%20registration" class="button">{{ __('Join now!') }}</a>
</div>
<script>
	var slides = jQuery(".promotional-header .background"),
		currentSlide = 0;

	setInterval(function() {
		currentSlide = (currentSlide + 1) % slides.length;
		slides.removeClass("current");
		slides.eq(currentSlide).addClass("current");
	}, 3500);
</script>