<div class="menuItem search">
	<form action="search.php" method="get">
		<label for="menu-search-query">
			<i class="fa fa-search"></i>
		</label>
		<input type="search" id="menu-search-query" name="query" placeholder="{{ __('Type here to search…') }}" accesskey="s">
	</form>
</div>