{% extends '@layout/layout.twig' %}

{% from '@theme/sessions/_login_widget.twig' import login_form %}

{% block title %}
{{ __('Log in') }} :: {{ parent() }}
{% endblock %}

{% block content %}
<h1 class="title">{{ __('Log in') }}</h1>

{{ login_form(errors, error_message, referrer, external_domain) }}

{% endblock %}
