<h1><?= _('Mailinglijst') ?></h1>
<div class="messageBox">
	<?php if (!$abonnement): ?>
	<p><?=_('Je staat niet (meer) op deze mailinglijst ingeschreven.') ?></p>
	<?php elseif ($uitgeschreven): ?>
	<p><?php printf(_('Gelukt! Je staat niet langer op de lijst <em>%s</em>.'), markup_format_text($abonnement->get('naam'))) ?></p>
	<?php else: ?>
	<form method="post">
		<p><?php printf(_('Je staat je op het punt uit te schrijven uit de mailinglijst <em>%s</em>. Weet je dit zeker?'),
			markup_format_text($abonnement->get('naam'))) ?></p>
		<input type="hidden" name="unsubscribe" value="yes">
		<input type="submit" value="<?=_('Schrijf mij uit') ?>">
	</form>
	<?php endif ?>
</div>		
