<h2>
	<a href="{{ result.absolute_url|e('html_attr') }}">{{ result.subject }}</a>
	<small>{{ __('Mededeling van %s uit %d')|format(
		'<a href="commissies.php?commissie=%s">%s</a>'|format(
			result.committee.login|e('url'),
			result.committee.naam|e('html')),
			result.created_on|date('Y'))|raw }}</small>
</h2>
<p>{{ result.message|strip_markup|e('html')|summary(query_parts) }}</p>
