<h2 class="title is-5">
	<a href="{{ result.absolute_url|e('html_attr') }}">{{ result.subject }}</a>
	<small>{{ __('Announcement made by %s in %d')|format(
		'<a href="commissies.php?commissie=%s">%s</a>'|format(
			result.committee.login|e('url'),
			result.committee.naam|e('html')),
			result.created_on|date('Y'))|raw }}</small>
</h2>
<p class="content">{{ result.message|strip_markup|excerpt(query_parts, 50)|raw }}</p>
