<h2>
	<a href="{{ result.absolute_url|e('html_attr') }}">{{ result.thread.subject }}</a>
	<small>{{ __('in het forum %s uit %s %d')|format(
		'<a href="forum.php?forum=%d">%s</a>'|format(
			result.thread.forum.id,
			result.thread.forum.name|e('html')),
			result.date|date('M'),
			result.date|date('Y'))|raw }}</small>
</h2>
<p>{{ result.message|strip_markup|e('html')|excerpt(query_parts, 50)|raw }}</p>
