{% set nav = view.get_navigation(iters, iter) %}
<div class="committee-navigation navigation">
	{% if nav.previous %}
		<a href="{{ controller.link_to_read(nav.previous)|e('html_attr') }}" class="previous">
			{{ nav.previous.naam }}
		</a>
	{% endif %}
	{% if nav.next %}
		<a href="{{ controller.link_to_read(nav.next)|e('html_attr') }}" class="next">
			{{ nav.next.naam }}
		</a>
	{% endif %}
</div>
