{% extends '@layout/layout.twig' %}

{% block title __('Niet gevonden') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Niet gevonden') }}</h1>
<div class="messageBox">
	<section class="error-section">
		<p>{{ __('Deze persoon is niet (langer) lid van Cover. Daarom kan je zijn/haar profiel niet bekijken.') }}</p>
	</section>
</div>
{% endblock %}