<fieldset class="field">
	<legend>{{ configuration.description }}</legend>
	{% for option in configuration.options %}
		<div class="control">
			{% if configuration.allow_multiple %}
				{{ html_input_checkbox(name ~ '[]', data, id='field-' ~ name ~ '-' ~ loop.index, value=option, errors=errors, label=option) }}
			{% else %}
				{{ html_input_radio(name, data, option, field=name ~ '[]', id='field-' ~ name ~ '-' ~ loop.index, errors=errors, label=option) }}
			{% endif %}
		</div>
	{% endfor %}
</fieldset>
