<div>
	{{ html_label(__('E-mail address'), name, errors=errors, required=configuration.required) }}
	{{ html_input_text(name, data, type='email', errors=errors, required=configuration.required, placeholder=__('E.g. chris@gmail.com')) }}
</div>