<div>
	{{ html_label(__('E-mailadres'), name, errors=errors, required=configuration.required) }}
	{{ html_input_text(name, data, type='email', errors=errors, required=configuration.required, placeholder=__('Bijv. chris@gmail.com')) }}
</div>