<div>
	{{ html_label(__('Voor- en achternaam'), name, errors=errors, required=configuration.required) }}
	{{ html_input_text(name, data, errors=errors, required=configuration.required, placeholder=__('Bijv. John von Neumann')) }}
</div>