<div class="field">
	{{ html_label(__('Phone number'), name, errors=errors, required=configuration.required) }}
    <div class="control">
    	{{ html_input_text(name, data, type='tel', errors=errors, required=configuration.required, placeholder=__('+31 6 12345678')) }}
    </div>
</div>