<div>
	{% if configuration.label != '' %}
		{{ html_label(configuration.label, name, errors=errors, required=configuration.required) }}
	{% endif %}
	{% if configuration.multiline %}
		{{html_textarea_field(name, data, errors=errors, required=configuration.required) }}
	{% else %}
		{{ html_input_text(name, data, errors=errors, required=configuration.required) }}
	{% endif %}
</div>