.member-block
    background-color: $background
    @media(min-width: 1200px)
        &
            display: flex


    .member-block-details
        padding: $box-padding

        p
            font-size: $size-6

    h3
        color: white

    .cover-thumbnail
        margin-bottom: 0
        display: block
        min-height: 200px

        @media(min-width: 1200px)
            &
                width: 35%

        figure
            margin: 0
            height: 100%

            img
                height: 100%
                width: 100%
                object-fit: cover
