.person
  padding: $block-spacing

  .person-name
    font-weight: $weight-bold
    font-size: $size-6
    display: block
    text-align: center
    margin-top: $size-7

  .person-position
    font-size: $size-7
    font-style: italic
    opacity: 0.6
    display: block
    text-align: center

  .person-image
    border-radius: 200px
    display: block
    margin: 0 auto

  p
    font-size: $size-7
