{% extends '@layout/layout.twig' %}

{% block content %}
<h1>{{ __('Confirm email address') }}</h1>
<div class="messageBox">
	<p>{{ __('Your email address has been confirmed. Dazzling! You should receive another email soon with your password and a bit of information on how the website works, how to order books, etc.') }}</p>
</div>
{% endblock %}