{% extends '@layout/layout.twig' %}

{% block content %}
<h1>{{ __('Membership application form') }}</h1>
<div class="messageBox">
	<p>{{ __('Your membership application has been submitted. If everything goes according to plan, you should have an email with a confirmation code by now.') }}</p>
</div>
{% endblock %}